body {
  background: red;
  background: linear-gradient(151deg, red 0%, #1e0000 50%, black 100%);
  background-repeat: no-repeat;
  background-size: cover; }
  body .scroll {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center; }
    body .scroll .titulo {
      color: #F5B205;
      font-size: 40px; }
    body .scroll .npc {
      margin-top: 400px;
      text-decoration: none;
      color: #F5B205;
      font-size: 70px;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }
